<?xml version='1.0' encoding='utf-8'?>
<plugin id="shareto" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>shareto</name>
    <DESCRIPTION>shareto plugin</DESCRIPTION>
    <js-module name="shareto" src="www/shareto.js">
        <clobbers target="cordova.plugins.shareto" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="shareto">
            <param name="android-package" value="shareto.shareto" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
               <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </config-file>
        <source-file src="src/android/shareto.java" target-dir="src/shareto/shareto" />
    </platform>
</plugin>